.table-responsive {
    overflow-x: auto;
}

.table thead th {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .card-header .row > div {
        margin-top: 10px; /* Ensure space between stacked elements on mobile */
    }
}
